[submodule "algorithms"]
	path = algorithms
	url = https://github.com/Mee-Tree/algorithms.git
[submodule "paradigms"]
	path = paradigms
	url = https://github.com/Mee-Tree/paradigms.git
[submodule "cpp/randomized_queue"]
	path = cpp/randomized_queue
	url = https://github.com/Mee-Tree/randomized-queue.git
